<!DOCTYPE html>
<html>
<body>
	<section>
		<div flash-message="5000"></div>

		<p></p>

		<button ng-click="search()">Wyświetl wszystkich autorów</button>

		<p></p>

		<table>
			<tr>
				<th>Imię</th>
				<th>Nazwisko</th>
			</tr>
			<tr ng-repeat="author in authors | filter:searchAuthor">
			<!-- 			<tr ng-repeat="author in authors | filter:myCustomSearchAuthor(author, searchAuthor)"> -->
				<td>{{ author.firstName }}</td>
				<td>{{ author.lastName }}</td>
			</tr>
		</table>

		<p></p>

		<p>Podaj dane autora:</p>
		<input type="text" ng-model="searchAuthor">
		<!-- 		<input type="text" ng-model="searchAuthor"> -->
	</section>
</body>
</html>