<!DOCTYPE html>
<html>
<body>
	<section>
		<p></p>
		<form name="titleForm" novalidate>
		<p>Podaj tytuł książki</p>
		<input type="text" id = "title" ng-required="true" ng-model="book.title">
		<p ng-show="titleForm.$invalid && titleForm.$submitted">Podaj tytuł!</p>
		<p></p>
		<p><button type="submit" id="save" ng-click="saveBook()">Zapisz książkę</button></p>
		</form>
		<p><button ng-click="addAuthor()">Dodaj autora</button></p>
		<p></p>
		<table id="authorTable">
			<tr>
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>Usuń</th>
			</tr>
			<tr ng-repeat="author in book.authors">
				<td>{{ author.firstName }}</td>
				<td>{{ author.lastName }}</td>
				<td> <button ng-click="deleteAuthor(author)">Usuń</button></td>
			</tr>
		</table>
	</section>
</body>
</html>