<div>
	<form name="authorForm" novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Dodaj autora</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<alert data-ng-show="errorMessage.hasOne()"
						data-close="errorMessage.clear()" data-type="danger"> <span
						data-ng-bind="errorMessage.text"></span> </alert>
					<p>
						<span class="label label-danger"
							data-ng-show="validation.firstNameNotProvided()">Wpisz
							imię!</span> <input type="text" placeholder="Imię" name="firstName"
							class="form-control" data-ng-model="authors.firstName"
							data-ng-required="true">
					</p>
					<p>
						<span class="label label-danger"
							data-ng-show="validation.lastNameNotProvided()">Wpisz
							nazwisko!</span> <input type="text" placeholder="Nazwisko"
							name="lastName" class="form-control"
							data-ng-model="authors.lastName" data-ng-required="true">
					</p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" data-ng-click="saveAuthor()">Dodaj</button>
			<button class="btn btn-warning" ng-click="$dismiss()">Anuluj</button>
		</div>
	</form>
</div>